@font-face {
    font-family: Manrope;
    font-weight: ExtraLight;
    src: url(./Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: EBGaramond;
    font-weight: Regular;
    src: url(./EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

body {
    font-family: Manrope;
    background-color: #16161d;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
    /* cursor: none; */
/*  #6969A9 , #B6B6DF, #000000, #010103*/ 
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

a {
    cursor: none;
}

header {
    padding: 0 24px;
    padding-top: 16px;
}

.personal-info {
    display: flex;
    flex-direction: column;
}

.personal-info-top {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.personal-info-top-photobox {
    display: flex;
    justify-content: center;

}

.personal-info-top-photobox2 {
    display: flex;
    justify-content: left;

}
.authorsphoto {
    width: 150px;
    border-radius: 50%;  
    object-fit: cover;  
}

.paragraph {
    font-family: EBGaramond !important;
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 30px;
}

.personal-info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-contact-box {
    display: flex;
    justify-content: space-between;
}

.icons-linkedin {
    background: url("./assets/linkedin.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-linkedin:hover {
    background: url("./assets/linkedinh.png") no-repeat;
}

.icons-linkedin-black {
    background: url("./assets/linkedinb.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-linkedin-black:hover {
    background: url("./assets/linkedinh.png") no-repeat;
}

.icons-git {
    background: url("./assets/github.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-git-black {
    background: url("./assets/githubb.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-git-black:hover {
    background: url(./assets/githubh.png) no-repeat;
}

.icons-git:hover {
    background: url("./assets/githubh.png") no-repeat;
}

.icons-stack {
    background: url("./assets/stack.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-stack:hover {
    background: url("./assets/stackh.png") no-repeat;
}

.icons-stack-black {
    background: url("./assets/stackb.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-stack-black:hover {
    background: url("./assets/stackh.png") no-repeat;
}

.icons-twitter {
    background: url("./assets/twitter.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-twitter-black:hover {
    background: url("./assets/twitterh.png") no-repeat;
}

.icons-twitter-black {
    background: url("./assets/twitterb.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-twitter:hover {
    background: url("./assets/twitterh.png") no-repeat;
}

.icons-insta {
    background: url("./assets/insta.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-insta:hover {
    background: url("./assets/instah.png") no-repeat;
}

.icons-insta-black {
    background: url("./assets/instab.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-insta-black:hover {
    background: url("./assets/instah.png") no-repeat;
}

.arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.arrow-icon {
    width: 23px;
    padding-top: 40px;
}


.jobtitle:hover {
    color: #B6B6DF;
}

.extratext {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #B6B6DF;
    padding: 6px;
}

main {
    display: flex;
    flex-direction: column;
    
}
.tech-section {
    background-color: #F8F8FF!important;
    color: #16161d;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 40px;
    max-width: auto;
    
}

.new-project-imag {
    object-fit: cover;
    max-width: max-content;
}

.section-content {
    padding: 0 24px;

}

.new-project-image {
    
}

.colouredword1 {
    background-color: #4A4ADA;
    font-family: EBGaramond !important;
    color: #ffffff;
    padding: 0 5px;

}

.colouredword2 {
    background-color: #16161D;
    font-family: EBGaramond !important;
    color: #ffffff;
    padding: 0 5px;

}

.colouredword3 {
    background-color: #ffffff;
    font-family: EBGaramond !important;
    color: #6969A9;
    padding: 0 5px;
    font-weight: 400;

}

.colouredword4 {
    background-color: #2B2BA2;
    color: #F8F8FF;
    padding: 0 5px;
    font-weight: 400;

}

.colouredword5 {
    background-color: #16161d;
    color: #F8F8FF;
    padding: 0 5px;
    font-weight: 400;

}

.headline-section {
    font-size: 3rem;
    color: #010103;
    text-align: center;
    
}

.headline-section2 {
    font-size: 4rem;
    color: #B6B6DF;
}

.colortext2 {
    color: #2B2BA2;
}

.colortext3 {
    color: #16161d;
} 

.colortex5 {
    color: #fdfdfd;
}


.projects-section {
    padding-bottom: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.new-project {
    justify-content: flex-start;
    padding-bottom: 40px;
    
}

.new-project-articles {
    justify-content: flex-start;
    padding-bottom: 40px;
    
}


.new-project-image {
    max-width: 100%;
    max-height: 100%;   
}

.image-article {
    width: 320px;
    max-width: auto;
    object-fit: cover;
}

.btn {
    border-radius: 49px;
    background-color: #B6B6DF;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border: none;
    font-family: Manrope;
    font-weight: medium;
    font-size: 1rem;

}

.second {
    background-color: #fdfdfd;
}

.third {
    background-color: #6969A9;
    color: #fdfdfd;
}

.btn:hover {
    background-color: #2B2BA2;
    color: #fdfdfd;
}

.mywords-section {
    background-color: #F8F8FF;
    color: #16161d;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 40px;
}

.skills-section {
    background-color: #B6B6DF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.newlist {
    padding-bottom: 40px;
}

li:hover {
    color: #6969A9;
}

.contact-section {
    background-color: #F8F8FF;
    color: #16161d;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 40px;
}

.titletext {
    color: #2B2BA2;
    font-size: 25px;
}

.jobtitle {
    font-size: 25px;
    line-height: 15px;
}

.titletext {
    color: #16161D;
    line-height: 15px;
}

.titletext1 {
    font-size: 20px;
    color: #828297;
    line-height: 15px;
}

.contacttext {
    font-size: 25px;
    color: #16161D;
    line-height: 15px;
    letter-spacing: 1px;
}

.personal-info-top-titles2 {
    padding-bottom: 60px;

}

a {
    text-decoration: dotted;
    color: #6969A9;
}


/* code for the custom cursor 
.cursor {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
}

.outer {
    border: 1px dashed #B6B6DF;
}

.inner {
    background: #6969A9;
    transition: 250ms ease-out;
}

.cursor.hover {
    transform: translate(-50%, -50%) scale(4);
    transition: transform 250ms ease-in-out;
}

.inner.hover {
    background: #B6B6DF;
    mix-blend-mode: difference;
} */ 

.arrow-tablet {
    display: none;
}


@media (min-width:668px) and (max-width:1023px) {

    .preheader {
         margin: 0;
        padding: 0;
    }
    .head {
        background-color: #16161D;
        background-image: url(./assets/logo.jpg);
        background-size: 100%;
        padding-top: 300px;
        padding-bottom: 350px;
        background-repeat: no-repeat;
      
        max-width: 100%;
        height: auto;
        
      }
      
      .logo {
      
        display: flex;
        align-content: center;
        justify-content: center;
      
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
   }

   .personal-info-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

   }

   .personal-info {
    padding: 0 80px;
   }

   .authorsphoto {
    max-height: 150px;
    object-fit: cover;
    padding-top: 16px;
   }

   .icons-contact-box {
    justify-content: flex-start;
    gap: 40px
   }

   .arrow {
    display: none;
   }

   .arrow-tablet {

    padding-top: 1px!important;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
   }

   .tech-section {
    padding-top: 1px;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
   }

   .new-project {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 2fr;
    grid-row: span 3;
    gap: 20px;

   }

   .new-project-image {
    grid-row: span 5;
    padding-top: 30px;
    height: 400px;
    max-width: auto;
    object-fit: cover;
   }

   .btn {
    grid-column: span 1;
   }

   .buttons-new-project {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
   }

   .image-article {
    width: 638px;
    max-width: auto;
    object-fit: cover;
    }

    .ul-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .headline-section2 {
    text-align: center;
    }

    .section-content-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .personal-info-bottom{
        align-items: center;

    }

    .contact-section {
        display: none;
    }

    .personal-info-bottom {
        color: #F8F8FF!;

    }

    h4 {
        font-size: 30px;
        text-align: center;
        line-height: 60px;

    }

    .icons-contact-box-last {
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 40px;
    }

}

