@font-face {
    font-family: Manrope;
    font-weight: ExtraLight;
    src: url(./Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: EBGaramond;
    font-weight: Regular;
    src: url(./EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

body {
    font-family: Manrope;
    background-color: #16161d;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
    cursor: none;
/*  #6969A9 , #B6B6DF, #000000, #010103*/ 
}

a {
    cursor: none;
}

header {
    padding: 0 24px;
    padding-top: 16px;
}

.personal-info {
    display: flex;
    flex-direction: column;
}

.personal-info-top {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.personal-info-top-photobox {
    display: flex;
    justify-content: center;


}
.authorsphoto {
    width: 150px;
    border-radius: 50%;  
    object-fit: cover;  
}

.paragraph {
    font-family: EBGaramond !important;
    padding-bottom: 15px;
    line-height: 24px;
}

.personal-info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-contact-box {
    display: flex;
    justify-content: space-between;
}

.icons-linkedin {
    background: url("./assets/linkedin.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-linkedin:hover {
    background: url("./assets/linkedinh.png") no-repeat;
}

.icons-git {
    background: url("./assets/github.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-git:hover {
    background: url("./assets/githubh.png") no-repeat;
}

.icons-stack {
    background: url("./assets/stack.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-stack:hover {
    background: url("./assets/stackh.png") no-repeat;
}

.icons-twitter {
    background: url("./assets/twitter.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-twitter:hover {
    background: url("./assets/twitterh.png") no-repeat;
}

.icons-insta {
    background: url("./assets/insta.png") no-repeat;
    display: flex;
    padding: 20px;
    padding-top: 20px;
    height: 90%; 
}

.icons-insta:hover {
    background: url("./assets/instah.png") no-repeat;
}

.arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.arrow-icon {
    width: 23px;
    padding-top: 40px;
}


.jobtitle:hover {
    color: #B6B6DF;
}

.extratext {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #B6B6DF;
    padding: 6px;
}

main {
    display: flex;
    flex-direction: column;
    
}
.tech-section {
    background-color: #F8F8FF!important;
    color: #16161d;
    padding-bottom: 50px;
    padding-top: 40px;
    
}

.tech-section-content {
    padding: 0 24px;

}

.colouredword1 {
    background-color: #4A4ADA;
    font-family: EBGaramond !important;
    color: #ffffff;
    padding: 0 5px;

}

.colouredword2 {
    background-color: #16161D;
    font-family: EBGaramond !important;
    color: #ffffff;
    padding: 0 5px;

}

.colouredword3 {
    background-color: #ffffff;
    font-family: EBGaramond !important;
    color: #6969A9;
    padding: 0 5px;
    font-weight: 400;

}

.headline-section {
    font-size: 3rem;
    color: #010103;
    text-align: center;
}

.projects-section {
    padding-bottom: 50px;
    padding-top: 40px;
}

.projects-section-content {
    padding: 0px 24px;

}

.headline-section2 {
    font-size: 3rem;
    color: #B6B6DF;
}

.project1 {
    justify-content: flex-start;
    padding-bottom: 50px;
}

.btn {
    border-radius: 49px;
    background-color: #F8F8FF;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    font-family: Manrope;
    font-weight: medium;
    
}

.btn-text {
   
}

.image-globe {
    width: 23%;
    height: 23%;
    
}
/* code for the custom cursor */ 
.cursor {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
}

.outer {
    border: 1px dashed #B6B6DF;
}

.inner {
    background: #6969A9;
    transition: 250ms ease-out;
}

.cursor.hover {
    transform: translate(-50%, -50%) scale(4);
    transition: transform 250ms ease-in-out;
}

.inner.hover {
    background: #B6B6DF;
    mix-blend-mode: difference;
}